html {
  display: table;
  height: 100%;
  width: 100%;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.display {
  margin: 0 auto;
  text-align: center;
}

.title,
#timer {
  font-size: 48pt;
  color: #555;
}

a.option {
  font-size: 18pt;
  color: #555;
  text-decoration: none;
}

a.option:hover {
  color: #FF8C00;
  text-decoration: underline;
}

a.option:before {
  content: "«";
}
a.option:after {
  content: "»";
}

button {
  background-color: transparent;
  color: #555;
  border: 0.25em solid #999;
  border-radius: 1em;
  outline: none;
  padding: 0.5em 1em;
  font-size: 16pt;
}

button:hover {
  color: #FF8C00;
  border-color: #FF8C00;
}