.Stopwatch #timer {
  font-size: 48pt;
  color: #555;
}

.Stopwatch button {
  cursor: pointer;
  background-color: transparent;
  color: #555;
  border: 0.25em solid #999;
  border-radius: 1em;
  outline: none;
  padding: 0.5em 1em;
  font-size: 16pt;
  min-width: 100px;
}

.Stopwatch button:hover {
  color: #FF8C00;
  border-color: #FF8C00;
}

.Stopwatch button:active {
  color: #E57E00;
  border-color: #E57E00;
}
